.games-container{
    min-height: 420px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background: #4a4a4a;
    border: 1px solid #5fa2b5;
}

.games-header{
    color: #111111;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-container{
    margin: 10px;
    background: #2e2e2e;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}

.games-list{
    list-style: none;
    text-align: left;
    margin-left: -15px;
}

.title{
    padding-left: 20px;
    padding-top: 13px;
    margin-bottom: -12px;
    list-style: none;
    display: flex;
}

.game-title{
    font-size: larger;
    font-weight: 600;
    color: #5fa2b5;
}

.bottom-row{
    margin-top: 2px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}



