.games-container{
    min-height: 420px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background: #4a4a4a;
    border: 1px solid #5fa2b5;
}

.games-header{
    color: #111111;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
    text-decoration: underline;
}

.item-container{
    margin: 10px;
    background: #2e2e2e;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}

.games-list{
    list-style: none;
    text-align: left;
    margin-left: -15px;
}

.game-title{
    font-size: larger;
    font-weight: 600;
    color: #5fa2b5;
    margin-bottom: 2px;
}

.filter{
    color: #111111;
    cursor: default;
    margin-bottom: 5px;
}

.filter-by{
    color: #111111;
    font-weight: 500;
}

.filter-by:hover{
    color: #5fa2b5;
    cursor: pointer;
}

.filter-yes{
    color: rgb(0, 165, 0);
}

.filter-no{
    font-size: small;
}

.notes{
    box-shadow: 1px 1px 2px black;
    opacity: 90%;
    cursor: pointer;
}

.currently-playing{
    margin-top: 2px;
}