.games-container{
    min-height: 420px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background: #4a4a4a;
    border: 1px solid #5fa2b5;
}

.games-header{
    color: #111111;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
}

.item-container{
    margin: 10px;
    background: #2e2e2e;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}

.games-list{
    list-style: none;
    text-align: left;
    margin-left: -15px;
}

.title{
    padding-left: 20px;
    padding-top: 13px;
    margin-bottom: -12px;
    list-style: none;
    display: flex;
}

.game-title{
    font-size: larger;
    font-weight: 600;
    color: #5fa2b5;
}

.filter{
    color: #111111;
    font-weight: 500;
    margin-bottom: 5px;
}

.filter-text{
    cursor: pointer;
}

.filter-by:hover{
    color: #5fa2b5;
    cursor: pointer;
}

.filter-yes{
    color: rgb(0, 165, 0);
}

.filter-no{
    font-size: small;
}

.playing-yes{
    margin-right: -115px;
    color: rgb(0, 165, 0);
}

.playing-no{
    margin-top: 3px;
    margin-right: -80px;
    font-size: small;
}

.notes-button{
    box-shadow: 1px 1px 2px black;
    opacity: 90%;
    cursor: pointer;
    margin-right: 5px;
}

.bottom-row{
    margin-top: 2px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.trash-can{
    cursor: pointer;
    display: flex;
    width: 25px;
    margin-right: 10px;
}

.popup-div{
    display: flex;
    width: 0px;
}

.popup-button{
    margin-left: 5px;
    margin-top: 65px;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    height: 35px;
    min-width: 60px;
}

.popup-text{
    padding: 5px;
    resize: none;
    margin-top: -6px;
    margin-left: -40px;
    min-height: 98px;
    min-width: 235px;
    background-color: #2e2e2e;
    border-radius: 5px;
}

.popup-text:focus{
    outline: none !important;
}

.popup-arrow {
    color: rgb(255, 255, 255, 0);
  }