.games-container{
    min-height: 420px;
    width: 340px;
    display: flex;
    flex-direction: column;
    background: #4a4a4a;
    border: 1px solid #5fa2b5;
}

.games-header{
    color: #111111;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
}


