.navbar{
  margin-right: -17px;
  padding: 15px;
}

.menu a{
  text-decoration: none;
  color: #5fa2b5;
  margin-right: 20px;
}

.menu-item:hover{
  cursor: pointer;
  color: rgb(175, 197, 215);
}

/* Media query for mobile responsiveness */
@media screen and (max-width: 768px){
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
}